{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
<div class="container">
     <p>{{current_user.username}}</p>
     {% if profile.profile_pic %}
       <img src="{{profile.profile_pic.url}}" alt=""> 
       <p>{{profile.bio}}</p>
    {% else %}
    <h1>You have no profile pic create one</h1>  
    {% endif %}
    <div class="container">
      <div class="row">
        {% for project in projects %}
        <div class="col-md-4">
          <div class="card" style="width: 25rem; height: 392px;">
            <img class="card-img-top" src="{{project.image.url}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{project.title}}</h5>
              <p class="card-text">{{project.description}}</p>
              <!-- <a href="{{project.project_url}}" class="btn btn-primary">View Project</a> -->
            </div>
            
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
     
</div>
{% endblock %}